---
layout: default
---

{% for post in site.posts %}
<section>
	<div class="eight columns">
		<h4 class="post_title"><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h4>
		<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}" title="{{ post.date }}"><span class="post_date">{{ post.date | date: "%b %-d, %Y" }}</span></a>

		{{ post.excerpt }}
		{% capture content_words %}{{ post.content | number_of_words }}{% endcapture %}
    {% capture excerpt_words %}{{ post.excerpt | number_of_words }}{% endcapture %}
    {% if content_words != excerpt_words %}
		<a href="{{ post.url | prepend: site.baseurl }}"><button class="float_right">READ MORE</button></a>
		{% endif %}

	</div>
	<br class="clear" />
</section>
{% endfor %}

{% include pagination.html %}
