<footer>
  <div class="slate">
    <div class="four columns">
      <p></p>
    </div>
    <div class="four columns">
      <h5 id="contact">Contact</h5>
      <p>I have a <strong>gmail</strong> account and my username is <strong>mailson</strong></p>
      {% if site.facebook_username %}<a href="https://www.facebook.com/{{ site.facebook_username }}" title="My facebook profile" target="_blank"><button class="facebook"><i class="fa fa-facebook"></i></button></a>{% endif %}
      {% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.facebook_username }}" title="My twitter profile" target="_blank"><button class="twitter"><i class="fa fa-twitter"></i></button></a>{% endif %}
      {% if site.linkedin_username %}<a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="My linkedin profile" target="_blank"><button class="linkedin"><i class="fa fa-linkedin"></i></button></a>{% endif %}
      {% if site.googleplus_username %}<a href="https://plus.google.com/+{{ site.googleplus_username }}" title="My google plus profile" target="_blank"><button class="google_plus"><i class="fa fa-google-plus"></i></button></a>{% endif %}
      {% if site.pinterest_username %}<a href="https://www.pinterest.com/{{ site.pinterest_username }}" title="My pinterest profile" target="_blank"><button class="pinterest"><i class="fa fa-pinterest"></i></button></a>{% endif %}
      {% if site.instagram_username %}<a href="https://www.instagram.com/{{ site.instagram_username }}" title="My instagram profile" target="_blank"><button class="instagram"><i class="fa fa-instagram"></i></button></a>{% endif %}
      {% if site.github_username %}<a href="https://www.github.com/{{ site.github_username }}" title="My github profile" target="_blank"><button class="github"><i class="fa fa-github"></i></button></a>{% endif %}
    </div>
  </div>
</footer>
