<footer>
  <div class="slate">
    <div class="four columns">
      <h5>Find us on Twitter <a href="#">@your username</a></h5>
      <div class="tweet"></div>
    </div>
    <div class="four columns">
      <h5>Footer widget</h5>
      <p>Text here</p>
      <a href="#"><button class="facebook"><i class="icon-facebook"></i></button></a>
      <a href="#"><button class="twitter"><i class="icon-twitter"></i></button></a>
      <a href="#"><button class="linkedin"><i class="icon-linkedin"></i></button></a>
      <a href="#"><button class="google_plus"><i class="icon-google-plus"></i></button></a>
      <a href="#"><button class="pinterest"><i class="icon-pinterest"></i></button></a>
    </div>
  </div>
</footer>
