<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/font-awesome-ie7.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Only for simple pong game post -->
	<script src="syntaxhighlighter/js/shCore.js" charset="utf-8"></script>
	<script src="syntaxhighlighter/js/shBrushXml.js" charset="utf-8"></script>
	<script src="syntaxhighlighter/js/shBrushJScript.js" charset="utf-8"></script>
	<script src="syntaxhighlighter/js/shBrushCss.js" charset="utf-8"></script>
	<link rel="stylesheet" href="syntaxhighlighter/css/shCore.css">
	<link rel="stylesheet" href="syntaxhighlighter/css/shThemeDefault.css">
	<!-- // End syntaxhighlighter -->

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="img/favicon.ico">
</head>
