<header>
  <h1 class="logo"><a href="{% if site.url != empty %}{{ site.url }}{% else %}/{% endif %}">{{ site.title }}</a></h1>
  <div class="menubutton"><i class="fa fa-reorder"></i></div>
  <nav>
    <ul>
      <li><a href="{% if site.url != empty %}{{ site.url }}{% else %}/{% endif %}">HOME</a></li>
      <li><a href="{{ '/about.html' | prepend: site.baseurl }}">ABOUT</a></li>
      <li><a href="{{ '/archive.html' | prepend: site.baseurl }}">ARCHIVE</a></li>
      <li><a href="#contact">CONTACT</a></li>
      {% comment %} Hide search while it's not working
      <li class="search"><i class="fa fa-search"></i><i class="fa fa-remove"></i></li>
      {% endcomment %}
    </ul>

    <div class="search_popup">
      <form>
        <input type="text" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}"></input>
        <button type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br class="clear" />
</header>
