<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ '/css/font-awesome-ie7.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/css/basic.css' | prepend: site.baseurl }}">

	{% if page.syntaxhighlighter %}
	<!-- Only for simple pong game post -->
	<script src="{{ '/syntaxhighlighter/js/shCore.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/syntaxhighlighter/js/shBrushXml.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/syntaxhighlighter/js/shBrushJScript.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/syntaxhighlighter/js/shBrushCss.js' | prepend: site.baseurl }}"></script>
	<link rel="stylesheet" href="{{ '/syntaxhighlighter/css/shCore.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/syntaxhighlighter/css/shThemeDefault.css' | prepend: site.baseurl }}">
	<!-- // End syntaxhighlighter -->
	{% comment %} I know it's the worst but I'm not rewriting all code snippets to use Pygments	{% endcomment %}
	{% endif %}

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="img/favicon.ico">
</head>
