<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{{ '/js/jquery.tweet.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/respond.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/basic.js' | prepend: site.baseurl }}"></script>
{% if page.syntaxhighlighter %}
<script type="text/javascript">
  SyntaxHighlighter.defaults['gutter'] = false;
	SyntaxHighlighter.defaults['pad-line-numbers'] = false;
	SyntaxHighlighter.defaults['toolbar'] = false;
  SyntaxHighlighter.all();
</script>
{% endif %}
